<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home page</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/card.css">
</head>
<body>
    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="/movies">Add new movie</a>
    </div>
    <div class="main">
        <div class="card">
            <img src="/images/movie-placeholder.gif">
            <div class="container">
                <h4><b>John Wick</b></h4>   
            </div>
        </div>
        <div class="card">
                <img src="https://upload.wikimedia.org/wikipedia/ru/1/1d/John_Wick_3.jpg">
                <div class="container">
                    <h4><b>John Wick 2</b></h4>
                </div>
            </div>        
    </div>
</body>
</html>