<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add new movie</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/form.css">
</head>
<body>
    <div class="topnav">
        <a href="/">Home</a>
        <a class="active" href="/movies">Add new movie</a>
    </div>
    <div id="main">
        <form action='/movies' method="POST">
            <div>
                <input type="text" name="title" placeholder="Title"/>
            </div>
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>