if movies.length > 0
    .grid
        each movie in movies
            .wrapper
                .card
                    a.image-link(href="/movie/" + movie.id)
                    if movie.imageUrl
                        img.card-image(src=movie.imageUrl)
                    else
                        img.card-image(src="../img/poster-placeholder.png")
                    if isAdmin
                        .pen
                            a(href="/admin/movie/" + movie.id + "/edit")
                        form(action="/admin/movie/" + movie.id + "/delete/" , method="POST")
                            button.trash
                    else
                        form(action="/movie/" + movie.id + "/favorite/" , method="POST")
                            div(class=(movie.favorites && movie.favorites.length > 0 ? "bookmark-checked" : "bookmark"))
                .title #{movie.title}
else
    h1 No movies added yet!