if movies.length > 0
    .grid
        each movie in movies
            .wrapper
                .card
                    a.image-link(href="#")
                    if movie.poster
                        img.card-image(src=movie.poster)
                    else
                        img.card-image(src="../img/poster-placeholder.png")
                    if isAdmin
                        .pen
                            a(href="/admin/edit")
                        form(action="/admin/delete-item", method="POST")
                            button.trash
                    else
                        .bookmark
                            a(href="#22")
                .title #{movie.title}
else
    h1 No movies added yet!