extends ./main-layout.pug

block styles

block nav
    .header
        ul
            li
                a(href="/" class=(menu==='home' ? 'active' : "")) Home
            li
                a(href="/movies" class=(menu==='movies' ? 'active' : "")) Movies
            li
                a(href="/shows" class=(menu==='shows' ? 'active' : "")) TV shows
            li
                a(href="/persons" class=(menu==='persons' ? 'active' : "")) People
            li.right
                a(href="#signup") Sign Up
            li.right
                a(href="#signin") Sing In
            li.right
                a(href="/admin" class=(menu==='admin' ? 'active' : "")) Admin

block content