extends ./main-layout.pug

block styles

block nav
    .header
        ul
            li
                a(href="/" class=(menu==='home' ? 'active' : "")) Home
            li
                a(href="/movies" class=(menu==='movies' ? 'active' : "")) Movies
            li
                a(href="/shows" class=(menu==='shows' ? 'active' : "")) TV shows
            li
                //- a(href="/persons" class=(menu==='persons' ? 'active' : "")) People
                a.isDisabled People
            li(class=(isAdmin===1 ? "hide" : ""))
                a(href="/favorite" class=(menu==='favorite' ? 'active' : "")) Favorite
            li.right
                a.isDisabled Sign Up
            li.right
                a.isDisabled Sing In
            li.right(class=(isAdmin===1 ? "" : "hide"))
                a(href="/admin" class=(menu==='admin' ? 'active' : ""))  Admin

block content