if shows && shows.length > 0
    .grid
        each show in shows
            .wrapper
                .card
                    a.image-link(href="/show/" + show.id)
                    if show.poster
                        img.card-image(src=show.poster)
                    else
                        img.card-image(src="../img/poster-placeholder.png")
                    if isAdmin
                        .pen
                            a(href="/show/" + show.id + "/edit")
                        form(action="/show/" + show.id + "/delete/" , method="POST")
                            button.trash
                    else
                        .bookmark
                            a(href="#22")
                .title #{show.title}
else
    h1 No shows added yet!