<%- include('includes/head.ejs') %>
    <link rel="stylesheet" href="/css/card.css">
</head>
<body>
    <%- include('includes/nav.ejs') %>
    <div class="main">
        <% if (movies.length > 0) { %>
            <% for (let movie of movies) { %>
            <div class="card">
                <img src="https://imgc.allpostersimages.com/img/print/u-g-F7SH250.jpg?w=550&h=550&p=0">
                <div class="container">
                    <h4><b><%= movie.title %></b></h4>   
                </div>
            </div>
            <% } %>
        <% } else { %>
        <h1>Movies list is empty!</h1>
        <% } %>
    </div>
<%- include('includes/end.ejs') %>