extends layouts/nav.pug

block styles
    link(rel="stylesheet", href="/css/cards.css")
    link(rel="stylesheet", href="/css/home-layout.css")

block content
    .mov
        h4 Last added movies
        hr
        include ./layouts/mov.pug
    .tvs
        h4 Last added TV shows
        hr
        include ./layouts/tvs.pug
