<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../public/css/main.css">
    <link rel="stylesheet" href="../public/css/cards.css">
</head>
<body>
    <div class="header">
        <ul>
            <li><a class="active" href="#home">Home</a></li>
            <li><a href="/">Movies</a></li>
            <li><a href="#contact">TV shows</a></li>
            <li><a href="#contact">People</a></li>
            <li class="right"><a href="#about">Sign Up</a></li>
            <li class="right"><a href="#about">Sing In</a></li>
            <li class="right"><a href="#about">Admin</a></li>
        </ul>
    </div>
    
    <main>
        <div class="card">
            <img src="https://i.pinimg.com/originals/f6/bc/a4/f6bca439368537e942249ec899aa2d38.jpg">
            <div class="info">
                <span>Star Wars Episode 3: Revenge of the Sith</span>
            </div>
        </div>
        <div class="card">
                <img src="https://images-na.ssl-images-amazon.com/images/I/71WiYBT2QsL._SY741_.jpg">
                <div class="info">
                    <span>John Wick</span>
                </div>
            </div>
    </main>

    <div class="footer">
        <p>Footer</p>
    </div>
</body>
</html>