<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../public/css/main.css">
    <link rel="stylesheet" href="../public/css/cards.css">
    <link rel="stylesheet" href="../public/css/popup.css">
    <!--<link rel="stylesheet" href="../public/css/form.css">-->
</head>
<body>
    <div class="header">
        <ul>
            <li><a href="#home">Home</a></li>
            <li><a class="active" href="/">Movies</a></li>
            <li><a href="#contact">TV shows</a></li>
            <li><a href="#contact">People</a></li>
            <li class="right"><a href="#about">Sign Up</a></li>
            <li class="right"><a href="#modal-one">Sing In</a></li>
            <li class="right"><a href="#admin">Admin</a></li>
        </ul>
    </div>
    
    <main>

    </main>

    <a href="#" class="modal" id="modal-one" aria-hidden="true">
        </a>
        <div class="modal-dialog">
          <div class="modal-header">
            <h2>Sign In</h2>
            <a href="#" class="btn-close" aria-hidden="true">×</a>
          </div>
          <div class="modal-body">
                <form id = 'form' action="/action_page.php">
                    <label for="username">EMAIL OR USERNAME</label>
                    <input type="text" id="username" name="username" placeholder="">
                    <label for="password">PASSWORD</label>
                    <input type="password" id="password" name="password" placeholder="">
                  </form>
          </div>
          <div class="modal-footer">
            <button type="submit" class = "btn-submit" form="form">Submit</button>
            <a href="#" class="signup">Cancel</a>
          </div>
        </div>

    <div class="footer">
        <p>Footer</p>
    </div>
</body>
</html>