<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="../public/css/test.css">
</head>
<body>

<div class="card">
  <div class="image">
    <img src="https://i.pinimg.com/originals/02/d6/3c/02d63cb25b454f37abfe7143913db194.jpg">
  </div>
  
  <div class="top">
      <a class="trash" href="https://www.google.com">
        <img class="icon" src="../public/img/trash.png">
      </a>
      <a class="pen" href="https://www.google.com">
        <img class="icon" src="../public/img/pen.png">
      </a>
  </div>
  <div class="bottom"></div>
</div>

<div class="card">
    <div class="image">
      <img src="https://i.pinimg.com/originals/02/d6/3c/02d63cb25b454f37abfe7143913db194.jpg">
    </div>
    
    <div class="top">
        <a class="trash" href="https://www.google.com">
          <img class="icon" src="../public/img/trash.png">
        </a>
        <a class="pen" href="https://www.google.com">
          <img class="icon" src="../public/img/pen.png">
        </a>
    </div>
    <div class="bottom">
        <p>Star Wars</p>
    </div>
  </div>


</body>
</html>