.details-wrapper {
    width: 80%;
    position: relative;
    margin: 30px auto;
    padding: 0;
    display: flex;
    float: left;
    
}

.summary-wrapper {
    margin: 30px auto;
    position: absolute;
    width: 20%;
    left: 80%;
}

.poster, .info, .summary{
    float: left;
    margin: 2px;
}

.poster {
    width: 20%;
}

.info {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.summary {
    align-items: center; 
}

.cast-wrapper {
    width: 70%;
    min-height: 20vh;
    float: left;
}


.poster{
    display: flex;
    justify-content: center;
    align-items: center; 
}

.poster-img img {
    width: 250px;
    height: 375px;
    object-fit: cover;
}

.info-wrapper, .item-wrapper{
    display: flex;
    flex-wrap: wrap;
}

/* .item-wrapper {
    width: 200px;
} */

.title-row{
    display: flex;
}

.title{
    float: left;
    line-height: 200%;
    display: flex;
}

.title h1 {
    align-self: flex-end;
}


.flag{
    width: 40px;
    position: relative;
    margin-left: 10px;
}

.flag img {
    position: absolute;
    top: 50%;
    max-height: 20px;
    margin-top: -10px;
}

.title-row, 
.genres, 
.raiting,
.header-info
 {
    width: 100%;
    margin: 5px 40px;
}

.description{
    width: 100%;
    margin: 5px 0px;
    text-align: justify;
}

p {
    margin-top: 0px;
}

.header-info, .header-info h3 {
    margin-bottom: 0px;
}

.raiting img {
    height: 50px;
}

.key, .value {
    display: block;
    width: 100%;
    margin: 2.5px 10px;
    line-height: 100%;
    max-height: 20px;
    font-size: larger;
}

.key{
    font-weight: bolder;
}

.value {
    margin-bottom: 20px;
}

.cast-cell {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: auto 20px;
    float: left;
    text-align: center;
    margin-top: 20px;
}

.cast-item{
    margin: auto;
}

.cast-item img {
    width: 150px;
    height: 200px;
    object-fit: cover;
}

.cast-item .name {
    font-weight: bold;
}

.name p {
    margin-bottom: 0px;
}

.position p {
    font-style: italic;
    margin-top: 0px;
}

.genre {
    border: 2px solid black;
    border-radius: 5px;
    background-color: rgb(72, 72, 72);
    display: inline-block;
    margin-left: 5px;
    padding-left: 3px;
    padding-right: 3px;
    color: white;
    font-weight: bold;

}