.add-form {
    position: absolute;
    width: 20rem;
    max-width: 90%;
    top: 200px;
    left: 40%;
}


input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }

  select {
      font-size: medium;
  }

  button {
    background-color: white; /* Green */
    border: none;
    color: green;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }

  button {
    background-color: green; 
    color: black; 
    border: 2px solid green;
  }
  
  button:hover {
    background-color: white;
    border: 2px solid green;
  }